<div class="container">
  <h1>Your booked reservations</h1>


  <% @reservations.each do |reservation| %>
    <div class="card-product">
      <img src="<%= cl_image_path reservation.sportif.photo, height: 300, width: 400, crop: :fill %>"/>
        <div class="card-content d-flex justify-content-between align-items-center w-100">
          <div class="card-product-infos-name">
            <h2><%= reservation.sportif.name %></h2>
          </div>
          <div class="card-product-infos-status">
            <p class="mb-2" >This reservation is <%= reservation.status %></p>
            <%= link_to 'Accept', reservations_path, class: "btn btn-flat btn-accept" %>
            <%= link_to 'Refuse', reservations_path, class: "btn btn-flat btn-refuse" %>
          </div>
        </div>
    </div>
  <% end %>
</div>
