
<div class="container min-vh-100">
  <h1>Your reservations</h1>


  <% @reservations.each do |reservation| %>
  <div class="card-product">
    <img src="<%= cl_image_path reservation.sportif.photo, height: 300, width: 400, crop: :fill %>"/>
    <div class = "description-price d-flex justify-content-between align-items-center w-100">
      <div class="card-product-infos-name">
        <h2><%= reservation.sportif.name %></h2>
        <p class="mb-2 resa-style" >This reservation is <strong> <%= reservation.status %></strong>.</p>
        <p>Proposed by : <%= reservation.sportif.user.name %>.</p>
      </div>
      <div class = "total-price-of-reservation">
        <h4> <% number_of_days = (reservation.date_end - reservation.date_begin).to_i %>
          <%= number_of_days * reservation.sportif.price %> €
        </h4>
      </div>
    </div>
  </div>
  <% end %>
</div>


