<div class="container">
  <h1>Create your sportif</h1>

  <%= simple_form_for(@sportif) do |f| %>

    <div class="form-inputs">
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :offers %>
      <%= f.input :address %>
      <%= f.input :photo %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, class: "btn btn-primary" %>
    </div>
  <% end %>
  <%= link_to 'Back', sportifs_path, class: "btn btn-ghost" %>
</div>
