<div class="container" >
  <h1 id="sportif-name"><%= @sportif.name %></h1>
  <h5 id = "sportif-address"><%= @sportif.address %></h5>
  <div class="row border d-flex justify-content-around">
    <div class="col-7" id= "img-sponsor" style="background-image: url('<%= cl_image_path @sportif.photo %>')">
    </div>

    <div class = "col-4 text-center" id= "sportif-box" >
      <h2 id = "sportif-description"><%= @sportif.description %></h2>
      <div class="card-body">
        <h3 id = "sportif-offers"><%= @sportif.offers %></h3>
<<<<<<< HEAD
        <h4 id = "sportif-price"><%= @sportif.price %>$ /jour</h4>
        <p class="card-text"></p>
        <%= link_to "Rejoins l'aventure", sportif_reservations_path(@sportif), method: :post, class: "btn btn-flat" %>
=======
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <%= link_to "Rejoins l'aventure", new_sportif_reservation_path(@sportif), class: "btn btn-flat" %>
>>>>>>> e855c09e6ed6c600535ddf480467de9c846c27fe
      </div>
    </div>
  </div>
  <% if policy(@sportif).edit? %>
    <%= link_to "Modifier", edit_sportif_path(@sportif) %>
  <% end %>
</div>

